{{#if loggedIn}}
    <div class="mt-5">
        <span class = "inline m-5 py-1 px-2 text-2xl text-white bg-red-600 rounded-lg" id="newPostBtn"> 
            <a href="#">
                New Post +
            </a>
        </span>
    </div>
{{/if}}

{{#each posts as |post|}}
  <ul>
      {{> postInfo post }}
  </ul>
{{/each}}

{{!-- {{#each posts}}
<a href="/post/{{id}}">
    <div id="{{this.id}}">
        <div class="main-wrapper flex justify-center">
            <div class="grid my-4 basis-4/5">
                <div class=" border-2 border-black rounded-lg">
                    <div class="flex justify-between bg-red-600 display-inline border-b-2 border-black rounded-t-md">
                    <h1 class="m-2 font-bold text-white text-xl">{{this.title}}</h1>
                    <p class="m-2 text-white text-xs align-middle">Posted by: {{user.username}} On: {{post.createdAt}}</p>
                    </div>

                    <div class="p-3">
                        <p>{{this.content}}</p>
                    </div>
                </div>
            
            </div>
        </div>

    </div>
</a>
{{/each}} --}}



<div class="modal-create-post hidden top-0 left-0 fixed block insert-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-40" id="createPostmodal" tabindex="-1" aria-labelledby="createPostmodal" aria-modal="true" aria-hidden="true" role="dialog">
    <div class="modal-container flex justify-center p-44 mt-10 sm:mt-0">
        <form action= "/api/posts" method= "POST" class="new-post-form">
            <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-10 py-5 bg-white rounded-xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-8 border-red-600 rounded-lg">
                    <div class=" px-20 "   >

                        <h1 class="flex justify-center text-6xl">+ New Post</h1>

                        <div class="pt-10">
                            <h1 class="flex justify-center text-3xl mb-2">Title for your post</h1>
                            <textarea type="text" name="title" id="title" autocomplete="title" class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-24 shadow-sm sm:text-sm border-0 bg-gray-200 rounded-md" placeholder="Add a captivating title!"></textarea>
                        </div>

                        <div class="pt-10">
                            <h1 class="flex justify-center text-3xl mb-2">Content of your post</h1>
                            <textarea type="text" name="content" id="content" autocomplete="content" class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-48 shadow-sm sm:text-sm border-0 bg-gray-200 rounded-md" placeholder="Write something interesting!"></textarea>
                        </div>

                        <div class= "flex justify-center pt-10 pb-2">
                            <button type="submit"  id="createPostBtn" class="inline-block mx-2 px-6 py-2.5 bg-white text-black border-2 border-black font-medium text-xs leading-tight uppercase rounded-lg shadow-md hover:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out" data-bs-dismiss="modal">
                            Post
                            </button>
                            <button type="button" class="inline-block mx-2 px-6 py-2.5 bg-red-500 text-white font-medium text-xs border-2 border-black leading-tight uppercase rounded-lg shadow-md hover:bg-red-600 transition duration-150 ease-in-out" id="cancelNewPostBtn" data-bs-dismiss="modal">
                            Cancel Post
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>




<script src="./js/indexHomepage.js"></script>
{{!-- <script src="./js/addPost.js"></script> --}}